[user]
	email = maciej.jan.flak@gmail.com
	name = FlakM
	signingKey = AD7821B8
[core]
	autocrlf = input
	editor = nvim
[filesystem "Azul Systems, Inc.|1.8.0_252|/dev/nvme0n1p5"]
	timestampResolution = 1001 microseconds
	minRacyThreshold = 6948 microseconds
[commit]
	gpgSign = true
[pull]
	ff = only
[gpg]
    program = gpg2

[delta]
    line-numbers = true
    side-by-side = true
    features = side-by-side line-numbers decorations
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
[pager]
    diff = delta
    show = delta
    log = delta
    blame = delta
    reflog = delta

[interactive]
    diffFilter = delta --color-only
[alias]
	dotfiles = !git --git-dir=/home/flakm/.cfg/ --work-tree=/home/flakm
